$body-bg : #353738;
$body-font-color: #eaeaea;
$body-font-family: "Rambla", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-family: "Arvo";
$header-font-color: white;
$primary-color: #068587;

@import '../bower_components/foundation/scss/foundation';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img {
    width: 75px;

  }
}

label {
  color: #ccc;
}

input[type="text"], input[type="text"]:focus  {
  background-color: transparent;
  color: white;
  border-color: rgb(31, 31, 37);
  outline: none;
  box-shadow: none;
}

.beer-header {

  img {
    text-align: right;
  }
}

.beer-list {
  padding: 0;


  li {
    background-color: #068587;
    border-bottom: 1px solid darken(#068587, 20%);
    padding: 20px;
    margin: 10px 15px;

    .beer-header {
      display: flex;

      h5 {
        align-items: flex-end;
      }
    }
  }
}