<nav class="top-bar row">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">BeerBozo</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a ng-href="#">Top Beer</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <ul class="small-6 columns no-bullet beer-list"  >
    <li ng-repeat="beer in topBeers | orderBy:'rank'">

      <div class="beer-header">
        <h5>{{beer.title}}</h5>
        <!-- <img ng-src="images/{{beer.logo}}" alt="{{beer.title}}"> -->
      </div>
      <p>{{beer.description}}</p>


    </li>
  </ul>
</div>

<div class="row">
  <div class="large-12 columns">
    <hr>
    <p>With ♥ from my penis 8==D</p>
  </div>
</div>
